<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd"
       xmlns:aop="http://www.springframework.org/schema/aop">

    <context:annotation-config />
    <!--<context:component-scan base-package="jsfspring" /> -->
    <bean class="util.ApplicationContextUtils"></bean>

    <bean id="dataSource"
          class="com.mchange.v2.c3p0.ComboPooledDataSource"
          destroy-method="close">
        <property name="driverClass" value="org.postgresql.Driver" />
        <property name="user" value="sisapp" />

        <!--Desarrollo: -->
        <!--<property name="jdbcUrl" value="jdbc:postgresql://127.0.0.1/catastro_activiti"/>-->
        <!--<property name="jdbcUrl" value="jdbc:postgresql://186.101.220.187/catastro_activiti"/>-->
        <property name="jdbcUrl" value="jdbc:postgresql://192.168.100.3:5432/catastro_activiti"/>
        <property name="password" value="sisapp98" />

        <property name="minPoolSize" value="10" />
        <property name="maxPoolSize" value="30" />
        <property name="maxIdleTime" value="1800" />
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="processEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration">
        <property name="dataSource" ref="dataSource" />
        <property name="transactionManager" ref="transactionManager" />
        <property name="databaseSchemaUpdate" value="true" />
        <property name="asyncExecutorActivate" value="true" />
        <property name="jobExecutorActivate" value="true" />
        <property name="databaseType" value="postgres" />
        <property name="asyncExecutorEnabled" value="true" />
        <property name="enableDatabaseEventLogging" value="true" />
    </bean>

    <bean id="processEngine" class="org.activiti.spring.ProcessEngineFactoryBean" destroy-method="destroy">
        <property name="processEngineConfiguration" ref="processEngineConfiguration" />
    </bean>
    <bean id="messenger" class="com.origami.sgm.bpm.servicetask.Messenger">
    </bean>
    <bean id="lectorArchivo" class="com.origami.sgm.bpm.servicetask.LectorArchivosImp">
    </bean>
    <bean id="subirDocumentosCarpeta" class="com.origami.sgm.bpm.servicetask.CargarDocsCarpeta">
        <property name="lectorArchivos" ref="lectorArchivo" />
    </bean>
    <bean id="subirDocumentos" class="com.origami.sgm.bpm.servicetask.CargarDocumentosAlfrescoTask">
        <property name="lectorArchivos" ref="lectorArchivo" />
    </bean>
    <bean id="subirDocCorreoRegistro" class="com.origami.sgm.bpm.servicetask.CargarDocEnviarCorreoRegistro">
        <property name="lectorArchivos" ref="lectorArchivo" />
    </bean>
    
    <bean id="verificarSolicitud" class="com.origami.sgm.bpm.servicetask.VerificarSolicitud"> </bean>
    <bean id="messengerSolicitud" class="com.origami.sgm.bpm.servicetask.MessengerSolicitud"> </bean>
    <bean id="catAsigAutomatica" class="com.origami.sgm.bpm.servicetask.CatAsigAutomatica"> </bean>
</beans>
